<h3>Product Page For {{name}}'s Collection</h3>

<p>{{#link-to 'new-product' this class="btn btn-default"}}Add Product{{/link-to}}</p>


  {{outlet "new-product"}}


<div class="col-sm-5">

  {{#each product in products }}

    {{#if product.image}}
      <p>
      <span class="thumb">
        {{#link-to "product" product}}<img {{bind-attr src=product.image}}>{{/link-to}}
      </span>
        {{product.name}}<button class="btn btn-xs btn-default" {{action 'deleteProduct' product}}>remove</button>
      </p>
    {{/if}}
    
  {{/each}}

</div>

<div class="col-sm-7 product">
  {{outlet "product"}}
</div>
